@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$MainFont: "Roboto", sans-serif;

.MF {
	font-family: $MainFont;
}

@mixin MaxWidth {
	max-width: 1200px;
}

@mixin grid($val) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
}