* {
    margin: 0;
    padding: 0;
}

// Variables
@import "./vars";

// Components
@import "./Components/index";

// Pages
@import "./Pages/index";

body {
    display: flex;
    margin: 0 auto;
    .MainSite {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100vh;
        section.MainSection {
            overflow-y: auto;
        }
    }
}

html {
    overflow-y: hidden;
}
