* {
    margin: 0;
    padding: 0;
}

// Variables
@import "./vars";

// Components
@import "./Components/index";

// Pages
@import "./Pages/index";

body {
    display: flex;
    @include MaxWidth;
    margin: 0 auto;
    .MainSite {
        flex: 1;
    }
}
