.AddProfileImageModal {
	width: 30vw;
	background-color: white;
	border-radius: 1rem;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	.loading {
		position: absolute;
		top: 0;
		left: 0;
		background-color: white;
		height: 100%;
		width: 100%;
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		.title {
			font-size: 30px;
			font-weight: bolder;
		}
		button {
			padding: 10px;
			cursor: pointer;
		}
	}
	.body {
		padding: 0 10px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		.input {
			width: 100%;
			flex: 1;
		}
	}
}
