.HomeTab {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	&-header {
		display: flex;
		justify-content: space-between;
		.logo {
			font-size: 30px;
		}
		.icon {
			cursor: pointer;
		}
	}
	.parts {
		@include grid(300px);
		gap: 20px;
	}
}
