.Dashboard-Sidebar {
	background-color: red;
	display: flex;
	flex-direction: column;
	gap: 30px;
	.logo {
		@extend %FlexCenter;
	}
	.allRoutes {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.route {
			padding: 10px;
			position: relative;
			cursor: pointer;
			color: white;
			@extend %FlexCenter;
			font-size: 20px;
			.left-border {
				position: absolute;
				top: 0;
				left: 0;
				background-color: green;
				width: 5px;
				height: 100%;
			}
		}
	}
}
