.HomePage {
	@include MaxWidth;
	margin: 0 auto;
	padding: 20px;
	.listStudents {
		display: flex;
		flex-direction: column;
		gap: 20px;
		button {
			align-self: center;
		}
		&-wrapper {
			@include grid(250px);
			gap: 20px;
		}
	}
}
