.DateInput_Global {
	padding: 20px;
	border: 1px solid black;
	border-radius: 0.2rem;
	&-wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		label {
			font-size: 22px;
		}
		input {
			outline: none;
			border: 1px solid rgb(156, 156, 156);
			border-radius: 0.1rem;
			padding: 5px;
		}
	}
}
